<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport" content="width=1,initial-scale=1,user-scalable=1" />
	<title>Insert title here</title>
	
	<link href="http://fonts.googleapis.com/css?family=Lato:100italic,100,300italic,300,400italic,400,700italic,700,900italic,900" rel="stylesheet" type="text/css">
	<link rel="stylesheet" type="text/css" href="assets/bootstrap/css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="assets/css/styles.css" />
	
</head>
<body>

	<section class="container">
			<section class="login-form">
				<form method="post" action="/mall/login" role="login">
					<h2>Please sign in</h2>
					<p>To enter in your private dashboard</p>
					<input type="radio" name="user" value="customer" checked="checked">구매자
					<input type="radio" name="user" value="seller">판매자
					<input type="radio" name="user" value="administrator">관리자
					<div class="form-group">
	    				<div class="input-group">
		      				<div class="input-group-addon"><span class="text-primary glyphicon glyphicon-envelope"></span></div>
							<input type="text" name="email" id="email" placeholder="email" required class="form-control" />
						</div>
					</div>
					<div class="form-group">
	    				<div class="input-group">
		      				<div class="input-group-addon"><span class="text-primary glyphicon glyphicon-lock"></span></div>
							<input type="password" name="password" id="password" placeholder="Password" required class="form-control" />
						</div>
					</div>
					<button type="submit" class="btn btn-block btn-success">로그인</button>
					<a href="#" class="btn btn-block btn-default">비밀번호 찾기</a>
					<a href="#" class="btn btn-block btn-default">회원가입</a>
				</form>
			</section>
	</section>
	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>